@model IEnumerable<MyProject_MVC.Models.Product>
@{
    ViewBag.Title = "ProductsByCategory";
}


<h2>Products by Category</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <!-- Hiển thị thông tin sản phẩm -->
            <h4>@product.ProName</h4>
            <p>@product.ProPrice</p>
            <!-- Thêm các thông tin khác cần hiển thị -->
        </div>
    }
</div>
